.jumbotron {
    background-color: gray;
    border-bottom: 10px solid red;
    border-top: 10px solid red;
    color: white;
    margin-bottom: 0;
    padding: 0;
    text-shadow: 0 5px 10px rgba(10, 20, 0, .8);
}

.container {
    padding: 48px;
}

.img {
    border: 10px solid red;
    display: block;
    height: 50%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.mail {
    text-align: center;
}

iframe {
    background-color: red;
    margin-left: 500px;
    margin-right: 400px;
}

ul {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}